.background {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    img {
        left: -20vw;
        position: relative;
        z-index: -2;

        &.active {
            animation: background-pan 100s infinite;
            -webkit-animation: background-pan;
            -webkit-animation-duration: 100s;
            -webkit-animation-iteration-count: infinite;              
        }

        &.mid-active-1 {
            animation: partial-background-pan-1 64s;
            -webkit-animation: partial-background-pan-1;
            -webkit-animation-duration: 64s;
            -webkit-animation-iteration-count: infinite;
        }

        &.mid-active-2 {
            animation: partial-background-pan-2 35s;
            -webkit-animation: partial-background-pan-2;
            -webkit-animation-duration: 35s;
            -webkit-animation-iteration-count: infinite;
        }

        &#background1 {
            top: 10vh;
        }
        
        &#background2 {
            top: 30vh;
        }

        &#background3 {
            top: 50vh;
        }

        &#background4 {
            top: 70vh;
        }

        &#background5 {
            top: 90vh;
        }
    }
}

@keyframes background-pan {
    0% {
        left: -20vw;
    }
    100% {
        left: 100vw;
    }
}

@keyframes partial-background-pan-1 {
    0% {
        left: 30vw;
    }
    100% {
        left: 120vw;
    }
}

@keyframes partial-background-pan-2 {
    0% {
        left: 70vw;
    }
    100% {
        left: 120vw;
    }
}