:root {
    color-scheme: light dark;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", Courier, monospace;
    background-color: var(--blue);
    color: var(--text);
    fill: var(--text);
    min-height: 95vh;

    header {
        background-color: #e6d86e;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 50px;;
    }

    .space {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: auto;

        .info {
            align-items: center;
            display: grid;
            text-decoration: none;

            &.active {
                visibility: visible;

                .text {
                    color: initial;
                    margin: 0;
                    text-align: center;
                    transition-delay: 250ms;
                    transition-property: visibility;
                }

                .speech-bubble {
                    animation: speech-bubble 250ms steps(1);
                    object-position: 100% 0%;
                    z-index: -1;
                }
            }

            &.inactive {
                visibility: hidden;
            }

            .text {
                grid-area: 1 / 1 / 1 / 1;
                margin: auto;
            }

            .speech-bubble {
                grid-area: 1 / 1 / 1 / 1;
                object-fit: cover;
                height: 100px;
                width: 100px;
            }
        }

        #about-guy {
            grid-column: 1 / 4;
            grid-row: 1 / 7;
        }

        .about {
            grid-column: 4 / 6;
            grid-row: 1 / 3;
        }

        .about-grass {
            grid-row: 6;
            grid-column: 1 / 4;
            z-index: -1;
        }

        #posts-guy {
            grid-column: -7 / -1;
            grid-row: -6 / -2;
        }

        .posts {
            grid-column: -6 / -8;
            grid-row: -7 / -5;

            .speech-bubble {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }

        .posts-grass {
            align-self: center;
            grid-column: -7 / -1;
            grid-row: -3 / -1;
            z-index: -1;
        }
    }

    .background {
        img {
            left: -20vw;
            position: absolute;
            z-index: -2;

            &.active {
                animation: background-pan 100s infinite;                
            }

            &.mid-active-1 {
                animation: partial-background-pan-1 64s;
            }

            &.mid-active-2 {
                animation: partial-background-pan-2 35s;
            }

            &#background1 {
                top: 10vh;
            }
            
            &#background2 {
                top: 30vh;
            }

            &#background3 {
                top: 50vh;
            }

            &#background4 {
                top: 70vh;
            }

            &#background5 {
                top: 90vh;
            }
        }
    }
}

@keyframes speech-bubble {
    0% {
        object-position: 0% 0%;
    }

    33% {
        object-position: 50% 0%;
    }
}

@keyframes background-pan {
    0% {
        left: -20vw;
    }
    100% {
        left: 120vw;
    }
}

@keyframes partial-background-pan-1 {
    0% {
        left: 30vw;
    }
    100% {
        left: 120vw;
    }
}

@keyframes partial-background-pan-2 {
    0% {
        left: 70vw;
    }
    100% {
        left: 120vw;
    }
}

@media only screen and (max-width: 1000px) {
    body .space {
        grid-template-columns: repeat(15, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    body .space {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    body .space {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(13, 1fr);
    }
}